# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
.devcontainer/

# Virtual environments
.venv/
env/
venv/
ENV/
myenv/
pip-wheel-metadata/
*.whl

# Streamlit cache & temp
.streamlit/
.cache/
uploads/
converted/
*.zip

# System files
.DS_Store
Thumbs.db
audio.py

# Vercel build cache
.vercel/output/
